.main{
    margin-top: 60px;
}

label{
    font-size: 2rem;
}

button{
    margin-top: 20px;
}

th{
    font-size: 2.5rem;
}

table{
    margin: 40px 0;
    font-size: 1.5rem;
}

.update, .remove {
    cursor: pointer;
    margin-left: 5%;
}

.update:hover {
    color: #4fa400;
}

.remove:hover {
    color: #ff0000;
}

.cancel-btn{
    margin-right: 1%;
}
