<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-xs-12 onjumbo">
                <div class="jumbotron">
                    <h3>Top streamers</h3>
                    <p class="lead" *ngIf="description.text.length > 0">
                        {{this.description.text}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="no-stream-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <div>
                        Sorry, this streamer currently offline
                    </div>
                    <a role="button" class="btn btn-primary redirect-btn" [routerLink]="['/home']"
                       (click)="closeModal()">
                        Watch Other Streams
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-xs-12 ">
                <table class="table table-borderless ">
                    <thead>
                    <tr>
                        <th class="hidden-xs">Streamer</th>
                        <!--<th class="hidden-xs">Bonus</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of streamers">
                        <td>
                            <a [routerLink]="['/streamer/' + user.id]">
                                <img src="{{user.image_link}}"
                                     *ngIf="user.image_link">
                                <img src="http://via.placeholder.com/50x50"
                                     *ngIf="!user.image_link">
                                {{user.name}}
                            </a>
                        </td>
                        <!--<td class="hidden-xs" >Text</td>-->
                        <td class="btnintable ">
                            <a class="btn btn-warning tablebtn pull-right" role="button"
                               *ngIf="user.activeStream?.idStream"
                               [routerLink]="['/stream/' + user.activeStream?.idStream]">
                                Watch Streamer
                            </a>
                            <button class="btn btn-warning tablebtn pull-right"
                                    data-toggle="modal" data-target="#no-stream-modal"
                                    *ngIf="!user.activeStream?.idStream">
                                Watch Streamer
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

